[Unit]
Description=NanoAWOS GPIO PTT Controller
After=multi-user.target mpd.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/python3 -m nanoawos.audio
WorkingDirectory=/opt/nanoawos
Environment=PYTHONPATH=/opt/nanoawos
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
